body {
    font-family: Nunito, sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem ; 
}

.navbar-toggler {
    border: none; /* Ensures that the toggler button has no border for a cleaner look*/
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-left: 20px;
}

.nav-item {
    margin-top: 10px;
    margin-left: auto;
}

h2 {
    font-weight: 900;
}

.logo {
    height: 80px;
    width: auto;
    vertical-align: auto;
}