{% extends "template.html" %} {% block title %} My Account {% endblock %}

{% block content %} 
<!-- Account Page -->
<div class="account-section">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-3">
            <!-- Account Details Column-->
            <div class="account-details">
                <img src="{{ url_for('static', filename='assets/img/bini_member_6.jpg') }}" alt="Account Image" class="img-fluid">
                <h1>{{ current_user.username }}</h1>
                <p>{{ current_user.email }}</p>
            </div>

            <!-- Button to trigger the update account popup -->
            <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#accountModal">
                Edit Account 
            </button>

            <!-- Update account popup -->
            <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="accountModalLabel">Update Account Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Account Details</legend>
                                    <div class="form-group">
                                        {{ form.username.label(class="form-control-label") }}
                                        {% if form.username.errors %}
                                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.username(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        {{ form.email.label(class="form-control-label") }}
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        {{ form.submit(class="btn btn-lg") }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Reviews Column-->
        <div class="col-lg-9">
        </div>
    </div>
</div>
{% endblock %}

