{% extends "template.html" %} {% block title %} My Account {% endblock %}

{% block content %} 
<!-- Accounts page -->
<div class="container">
    <div class="row gx-5">
        <div class="col-lg-3">
            <h1>My Account</h1>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Member since: {{ user.date_created }}</p>
            <button type="button" class="btn btn-lg" onclick="window.location.href='/create-post'">Create Post</button>     
        </div>
        <div id="posts" class="col-lg-9">
            <h2>My Posts</h2>
            <!-- Posts -->
            {% for post in posts %}
            <div class="card post-box">
                <!-- Post Header -->
                <div class="card-header d-flex justify-content-betweeen align-items-center">
                    <strong><a href="/posts/{{post.user.username}}">{{post.user.username}}</a></strong>
                    <div class="d-flex align-items-center"> <!-- this is a new div for thumbs up -->
                        <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span>
                        {% if user.id in post.likes|map(attribute="author")|list %}
                        <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})">
                        </i>
                        {% else %}
                        <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})">
                        </i>
                        {% endif %}
                        {% if user.id == post.author %}
                        <div class="btn-group ms-2">
                            <button type"button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div> <!-- this is the end of the new div for thumbs up -->
                </div>
                
                <!-- Post Body -->
                <div class="card-body">
                    <div class="card-text">{{post.text}}</div>
                    <br/>

                    <div class="collapse" id="comments-{{post.id}}"> <!-- this is the starting div for comments-->
                        <div class="card">
                            <div class="card-body" id="comments-expanded-{{post.id}}">

                                {% for comment in post.comments %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
                                    </div>
                                    <div>
                                        <br/>
                                        <small class="text-muted"> {{comment.date_created}} </small>

                                        {% if user.id == comment.author or user.id == post.author %}
                                        <div class="btn-group">
                                            <button type"button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/delete-comment/{{post.id}}" class="dropdown-item">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div> <!--THis is the end div for comments-->
                    <br/>

                    <!-- Comment Section -->
                    <p class="card-text">
                        {% if post.comments|length > 0 %}
                        <a data-bs-toggle="collapse" href=" #comments-{{post.id}} " role="button">
                            <strong>View {{post.comments|length}} Comments</strong>
                        </a>
                        {% else %}
                        <small class="text-muted">No Comments</small> 
                        {% endif %}
                    </p>
                    <!-- Comment input and button -->
                    <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
                        <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!"/>
                        <button type="submit" class="btn">Comment</button>
                    </form> <!-- This is the end of the comment section -->
                </div>
                <div class="card-footer text-muted">{{post.date_created}}</div>
            </div>
            <br/> 
            {% endfor %}
        </div>
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-lg" href="{{ url_for('views.review', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-lg" href="{{ url_for('views.review', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
            {% endfor %}
    </div>
</div>


{% endblock %}

