{% extends "template.html" %}{% block title %}Create Review{% endblock %}
{% block content %}
<div class="create_review">
    <h1>Make a Review</h1>
    <div class="create_review_card">
        <form method="POST">
            <textarea name="text" id="text" class="form-control"></textarea>
            <br/>   
            
            <div align="center">
                <button type="submit" class="btn btn-lg btn-primary">Post</button>
            </div> 
        </form>
        <br/>
    </div>
</div>
{% endblock %} 