{% extends "template.html" %}{% block title %}Home{% endblock %} {% block
content %}
<div class="container">
  <!-- Banner -->
  <div class="banner">
    <img
      src="\static\assets\img\celebrity.jpeg"
      alt="Banner Image"
      class="img-fluid"
    />
  </div>

  <!-- Content section 1-->
  <section class="section-red">
    <div class="container p-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2 hidden">
          <div class="p-5">
            <img
              class="img-fluid"
              src="static/assets/img/bini_member_1.jpg"
              alt="Jhoanna, Bini Member"
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 hidden">
          <div class="p-5">
            <h1>OY PHILIPPINES!</h1>
            <p>
              Jollibee is a popular fast-food chain originating from the
              Philippines, known for its unique blend of Western fast food and
              traditional Filipino flavors. Established in 1978, it has grown to
              become a beloved brand both in the Philippines and
              internationally, with a presence in countries like the United
              States, Canada, and the Middle East.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Stars that are positioned on the corners-->
  <div class="stars">
    <img src="\static\assets\img\star.svg" class="star-left" alt="Star" />
    <img
      src="\static\assets\img\star-right.svg"
      class="star-right"
      alt="Star"
    />
  </div>

  <!-- Content section 2-->
  <section>
    <div class="container p-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 hidden">
          <div class="p-5">
            <img
              class="img-fluid"
              src="static/assets/img/bini_member_2.jpg"
              alt="Stacy, Bini Member"
            />
          </div>
        </div>
        <div class="col-lg-6 hidden">
          <div class="p-5">
            <h1>SARAP SARAP</h1>
            <p>
              Jollibee's menu features a diverse array of items, but it is
              especially famous for its Chickenjoy, a crispy and juicy fried
              chicken, and Jolly Spaghetti, a sweet-style spaghetti topped with
              hotdogs and cheese. The brand has a cheerful bee mascot, which
              symbolizes its commitment to spreading happiness and delight
              through its food.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="stars-2">
    <img src="\static\assets\img\star.svg" class="star-left" alt="Star" />
    <img
      src="\static\assets\img\star-right.svg"
      class="star-right"
      alt="Star"
    />
  </div>

  <!-- Content section 3-->
  <section class="section-red">
    <div class="container p-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2 hidden">
          <div class="p-5">
            <img
              class="img-fluid"
              src="static/assets/img/bini_member_3.jpg"
              alt="Aiah, Bini Member"
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 hidden">
          <div class="p-5">
            <h1>Become a Member!</h1>
            <p>
              Join us at Jollibee, where every meal is a celebration of joy and
              togetherness! Whether you're craving our world-famous Chickenjoy,
              the sweet delight of our Jolly Spaghetti, or any of our other
              signature dishes, you'll find flavors that bring smiles and create
              lasting memories.
            </p>
            <a href="/sign-up"
              ><button type="submit" class="btn btn-lg">Sign-up</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock%} {% block footer %}
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
{% endblock %}
