<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  {% extends "template.html" %}{% block title %}Login{% endblock %} {% block
  content %}
  <!-- Login Form -->
  <section>
    <div class="container p-5 min-vh-100">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img
              class="img-fluid"
              src="static/assets/img/bini_member_4.jpg"
              alt="Bini Member"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <form method="POST">
              <h1 class="my-3">Welcome Back</h1>
              <h5 class="text-muted">Please enter your details to login</h5>
              <!-- Form Group -->
              <div class="form-group">
                <!-- Email input -->
                <label for="email">Email Address</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
                <br />

                <!-- Password input -->
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
                <br />

                <!-- Login button -->
                <div>Don't have an account?<a href="/sign-up"> Sign Up</a></div>
                <div class="mt-3">
                  <button class="btn btn-lg" type="submit">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %} {% block footer %} {% endblock %}
</html>
